<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>BetsKiller | Dashboard</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Styles -->
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <!-- BEGAIN PRELOADER -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="navbar-fixed-top logo">
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><img src="~/Content/Images/logoNormal.png" width="84" height="51" /></span>
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo_mini" style="margin-left: -6px"><img src="~/Content/Images/logoMini.png" width="32" height="32" /></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-fixed-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">


                    <ul class="nav navbar-nav">

                        <li class="dropdown user user-menu">
                            <a href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#subscribeModal"><i class="fa fa-star" style="margin-right: 5px"></i>Subscribe</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i>
                                    <span class="hidden-xs">@User.Identity.Name</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="btn btn-default btn-flat" data-toggle="modal" data-target="#changePasswordModal"><i class="fa fa-key"></i>Change password</a>
                                    </li>
                                    <li>
                                        <a id="showProfilePreview" data-url="@Url.Action("UserProfilePreview", "Account")" class="btn btn-default btn-flat" data-toggle="modal" data-target="#profileModal"><i class="fa fa-user"></i>Profile preview</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i>Sign out</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown user user-menu">
                                <a href="@Url.Action("Login", "Account")" class="dropdown-toggle"><i class="fa fa-sign-in" style="margin-right: 8px"></i>Login</a>
                            </li>
                        }
                    </ul>

                    @if (User.IsInRole(BetsKiller.Helper.Constants.RolesConst.Admin))
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-pencil"></i>
                                    <span class="hidden-xs">Users administration</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-footer">

                                        <div class="pull-left">
                                            <a href="@Url.Action("UserList", "UserManagement")" class="btn btn-default btn-flat"><i class="fa fa-sign-out" style="margin-right: 8px"></i>Users list</a>
                                        </div>

                                        <div class="pull-right">
                                            <a href="@Url.Action("UserAdd", "UserManagement")" class="btn btn-default btn-flat"><i class="fa fa-sign-out" style="margin-right: 8px"></i>Add user</a>
                                        </div>

                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }

                </div>
            </nav>
        </header>

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/Dashboard/">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-eye"></i> <span>Bets Tracker</span>
                            <small class="label pull-right bg-blue">Developing...</small>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-search"></i> <span>Games Analyzer</span>
                            <small class="label pull-right bg-blue">Developing...</small>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SportsPicks", "Dashboard")">
                            <i class="fa fa-magic"></i> <span>Sports Picks</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("TeamsStats", "Dashboard")">
                            <i class="fa fa-bar-chart"></i> <span>Teams Stats</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Leaders", "Dashboard")">
                            <i class="fa fa-area-chart"></i> <span>Leaders</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Standings", "Dashboard")">
                            <i class="fa fa-list-ol"></i> <span>Standings</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("TeamsRosters", "Dashboard")">
                            <i class="fa fa-group"></i> <span>Teams & Roster</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ScheduleResults", "Dashboard")">
                            <i class="fa fa-table"></i> <span>Schedule & Results</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Injuries", "Dashboard")">
                            <i class="fa fa-medkit"></i> <span>Injuries</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PowerRankings", "Dashboard")">
                            <i class="fa fa-institution"></i> <span>Power Rankings</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-knight"></i> <span>Contest</span>
                            <small class="label pull-right bg-blue">Developing...</small>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-comments"></i> <span>Community</span>
                            <small class="label pull-right bg-blue">Developing...</small>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Terminology", "Dashboard")">
                            <i class="fa fa-question-circle"></i> <span>Terminology</span>
                            <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>

        <!-- Footer -->
        <footer class="main-footer">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pull-left">
                        <strong>Copyright &copy; @DateTime.Now.Year BetsKiller</strong> All rights reserved.
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div align="center">
                        <a href="@Url.Action("TermsOfUse", "Home")">Terms of use</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pull-right hidden-xs">
                        <b>Version</b> 1.0.0
                    </div>
                </div>
            </div>
        </footer>

        <!-- Modal profile -->
        <div class="modal fade" id="changePasswordModal" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    <div class="modal-header" style="background-color:#006dcc">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:white">Change password</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group" style="margin-top:10px">
                                <label for="inputemail" class="col-sm-3 control-label">Old password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" for="OldPassord" placeholder="Enter old password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" style="margin-top:10px">
                                <label for="inputemail" class="col-sm-3 control-label">New password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" for="NewPassword" placeholder="Enter new password (at least 6 characters)">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group" style="margin-top:10px">
                                <label for="inputemail" class="col-sm-3 control-label">Confirm password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" for="ConfirmPassword" placeholder="Repeat password">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="modal fade" id="subscribeModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#006dcc">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color:white">Subscribe</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="heading text-center">
                                    <h2>Pricing</h2>
                                    <p>Choose from one of these option and Start your Money making Career</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="box box-primary">
                                        <div class="box-body">
										<div class="table-responsive">
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <table id="subscribetable" class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 33%; font-size: x-large">Basic</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="font-size: x-large">
                                                        <td>$0 per month</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ONE OR MORE FREE ANALYSIS EVERY DAY</td>
                                                    </tr>
                                                    <tr>
                                                        <td>STATS AND NEWS<br><strike>BETS TRACKER BASIC</strike><br><span class="label label-pill label-warning">COMING SOON</span></td>
                                                </tbody>
                                            </table>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <table id="subscribetable" class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 33%; font-size: x-large">Premium</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="font-size: x-large">
                                                        <td><strike>$50</strike> $25 per month <br><small>until <span style="color: red">1.7.2016</span></small></td>
                                                    </tr>
                                                    <tr>
                                                        <td>ONE PREMIUM ANALYSIS EVERY DAY</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strike>BETS TRACKER ADVANCED</strike><br><span class="label label-pill label-warning">COMING SOON</span></td>
                                                </tbody>
                                            </table>
											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <table id="subscribetable" class="table table-bordered table-striped text-center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 33%; font-size: x-large">Ultimate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="font-size: x-large">
                                                        <td><strike>$90 per month</strike><br><span class="label label-pill label-danger">COMING SOON</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td>ALL PREMIUM ANALYSIS EVERY DAY</td>
                                                    </tr>
                                                    <tr>
                                                        <td><strike>GAMES ANALYSER</strike><br><span class="label label-pill label-warning">COMING SOON</span></td>
                                                </tbody>
                                            </table>
											</div>
                                            <br>
                                            <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                                                <div align="center">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                        <input type="hidden" name="cmd" value="_s-xclick">
                                                        <input type="hidden" name="hosted_button_id" value="TR77GM6AU8DHS">
                                                        <table>
                                                            <tr><td><input type="hidden" name="on0" value="Subscriptions">Subscriptions</td></tr>
                                                            <tr>
                                                                <td>
                                                                    <select name="os0">
                                                                        <option value="Premium">Premium : $25.00 USD - monthly</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                    </form>
                                                    }
                                                    else
                                                    {
                                                    <span style="color: red"><b>To subscribe, you need to login or register if you dont have an account.</b></span>
                                                    }
                                                </div>
                                            </div>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="modal-footer">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><button type="button" class="btn btn-default pull-left btn-block" data-dismiss="modal">Close</button></div>
                            @if (!User.Identity.IsAuthenticated)
                            {
                            <div class="col-lg-offset-1  col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-12"><a href="@Url.Action("Login", "Account")" class="btn btn-success btn-block">Log In</a></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"><a href="@Url.Action("Register", "Account")" class="btn btn-danger btn-block">Sign Up</a></div>
							
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="profileModal" class="modal fade" role="dialog"></div>

    </div>

    <!-- <Scripts> -->
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/dashboard-js")
    @RenderSection("Scripts", false)

    <script>

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var subscribe = getParameterByName('subscribe');
        if (subscribe != null && subscribe) {
            $('#subscribeModal').modal('show');
        }

        $('#showProfilePreview').click(function () {
            var url = $('#showProfilePreview').data('url');

            $.get(url, function (data) {
                $('#profileModal').html(data);

                $('#profileModal').modal('show');
            });
        });

    </script>

</body>
</html>
