@model BetsKiller.ViewModel.UserManagement.UserEditViewModel
@{
    ViewBag.Title = "Edit user";
}

@Html.ValidationSummary()

<!-- Edit user panel -->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="counter_section">
            <div class="slider_overlay"></div>
            <div class="container">
                <div class="counter_area" align="center">
                    <div class="heading">
                        <h2 class="wow fadeInRightBig white">Edit user</h2>
                    </div>

                    <div class="col-lg-offset-4 col-lg-4 col-md-4 col-sm-4">
                        <div class="counter wow fadeInUp">
                            @using (Html.BeginForm("UserEdit", "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @style = "color: red" })

                                @Html.HiddenFor(x => x.Email);

                                <div class="form-group">
                                    @Html.LabelFor(x => x.FullName, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Email, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        <div class="form-control">
                                            @Html.ValueFor(x => x.Email)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Password, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.Roles, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        <select id="Roles" name="Roles" class="form-control" data-placeholder="Choose Role...">
                                            @foreach (SelectListItem role in Model.AllRoles)
                                            {
                                                if (Model.Roles.Contains(role.Text))
                                                {
                                                    <option selected="selected" value="@role.Value">@role.Text</option>
                                                }
                                                else
                                                {
                                                    <option value="@role.Value">@role.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.RoleActiveFrom, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.RoleActiveFrom, new { @class = "form-control date" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.RoleActiveTo, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.RoleActiveTo, new { @class = "form-control date" })
                                    </div>
                                    </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.MoneyPaid, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.MoneyPaid, new { @class = "form-control" })
                                    </div>
                                    </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.PaymentDescription, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(x => x.PaymentDescription, new { @class = "form-control" })
                                    </div>
                                    </div>

                                <div class="form-group">
                                    @Html.LabelFor(x => x.PaymentSources, new { @class = "control-label col-sm-4", style = "color: white; text-align: left" })
                                    <div class="col-sm-8">
                                        <select id="PaymentSources" name="PaymentSources" class="form-control" data-placeholder="Choose Payment source...">
                                            @foreach (SelectListItem paymentSource in Model.AllPaymentSources)
                                        {
                                                <option value="@paymentSource.Value">@paymentSource.Text</option>
                                        }
                                        </select>
                                        </div>
                                    </div>

                                <button type="submit" class="btn btn-primary">Edit user</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.date').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: true,
            clearBtn: true
        });
    </script>
}