<!DOCTYPE html>
<html>
    <head>

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>BetsKiller | @ViewBag.Title</title>

        <!-- Styles -->
        @Styles.Render("~/Content/logsignin-css")

        @RenderSection("Styles", false)

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    </head>

    <body class="hold-transition login-page">

        <!-- BEGAIN PRELOADER -->
        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- END PRELOADER -->

        <!-- Form box -->
        <div class="login-box">

            <!--Logo-->
            <div class="text-center">
                <a class="login-logo" href="/#">Bets<span class="logo_text_2">Killer</span></a>
            </div>

            @RenderBody()

        </div>

        <!-- Scripts -->
        @Scripts.Render("~/bundles/logsignin-js")

        <script>
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        </script>

        @RenderSection("Scripts", false)
    </body>
</html>
