@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Account/_Layout.cshtml";
}

@model BetsKiller.ViewModel.Account.PasswordResentViewModel

<div class="text-center">
    <br />
    <br />
    <br />
    <h2 class="login-box-msg">Reset your password.</h2>
    <br />
    <br />
    @using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @style = "color: red" })
        
        @Html.HiddenFor(x => x.ResetToken);

        <div class="form-group has-feedback">
            @Html.LabelFor(x => x.Email, "Email address:", new { @class = "white" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control disabled", @placeholder = "Where you receive cat gif's..." })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        
        <div class="form-group has-feedback">
            @Html.LabelFor(x => x.NewPassword, "Password:", new { @class = "white" })
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @type="password", @placeholder = "Where you receive cat gif's..." })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        
        <div class="form-group has-feedback">
            @Html.LabelFor(x => x.ConfirmPassword, "Confirm passsword:", new { @class = "white" })
            @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @type="password", @placeholder = "Where you receive cat gif's..." })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat btn_purple">Reset</button>
            </div>
        </div>
    }
    <br />
    <br />
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-large">Go back</a>
</div>