@{
    ViewBag.Title = "Password forgot";
    Layout = "~/Views/Account/_Layout.cshtml";
}

@model BetsKiller.ViewModel.Account.PasswordForgotViewModel

<div class="text-center">
    <br />
    <br />
    <br />
    <h2 class="login-box-msg">Forgot your password?</h2>
    <h3 class="login-box-msg">Enter your email.</h3>
    <br />
    <br />
    @using (Html.BeginForm("PasswordForgot", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @style = "color: red" })

        <div class="form-group has-feedback">
            @Html.LabelFor(x => x.Email, "Email address:", new { @class = "white" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Where you receive cat gif's..." })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat btn_purple">Email link</button>
            </div>
        </div>
    }
    <br />
    <br />
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-large">Go back</a>
</div>